.ss-widget {
	display: inline-flex;
	align-items: center;
}
.ss-widget__logo {
	font-size: 0;
}
.ss-widget__logo svg {
	width: 35px;
	height: 40px
}
.ss-widget__data {
	margin-top: 8px;
	padding-left: 10px;
	text-align: left;
}
.ss-widget__data a {
	display: inline-block;
}
.ss-widget__data a span {
	display: block;
	line-height: 1.5;
	/*color: rgba(0,0,0,0.7);*/
	color: rgba(255,255,255,0.7);*/
	transition: all .1s ease-out;
	font-size: 12px;
	font-family: var(--font-r);
}
.ss-widget__data a > :nth-child(2) {
	text-transform: uppercase;
}
.ss-widget__data a:hover span {
	color: rgba(255,255,255,1);
}